<?xml version="1.0" encoding="utf-8"?>
<configuration>

<location path="index.html">
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache, no-store" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
</location>

<system.webServer>
    <security>
        <requestFiltering>
            <fileExtensions>
                <add fileExtension=".json" allowed="true" />
            </fileExtensions>
            <requestLimits maxQueryString="8192" />
        </requestFiltering>
    </security>
    <httpProtocol>
        <customHeaders>
            <add
                name="Content-Security-Policy"
                value="default-src 'self' 'unsafe-inline' 'unsafe-eval' jsd-widget.atlassian.com resource://pdf.js/build/pdf.js resource://pdf.js/web/viewer.js resource://pdf.js/build/pdf.worker.js https://www.googletagmanager.com https://www.google-analytics.com/;
                connect-src 'self' wss://localhost:44351 https://localhost:44351 *.smarkets.com.br https://*.b2w.io https://imagens.gimba.com.br http://201.87.159.118 jsd-widget.atlassian.com https://mgas.prod.public.atl-paas.net https://api-private.atlassian.com http://127.0.0.1:10000 https://smarketsstoragehom.blob.core.windows.net https://smarketstorageprd.blob.core.windows.net https://www.googletagmanager.com https://www.google-analytics.com/;
                img-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.b2w.io https://imagens.gimba.com.br http://201.87.159.118 http://127.0.0.1:10000 https://smarketsstoragehom.blob.core.windows.net https://smarketstorageprd.blob.core.windows.net https://www.google-analytics.com data: blob:;
                frame-src 'self' http://localhost:4200 https://fup-hml.smarkets.com.br https://fup.smarkets.com.br 'unsafe-inline' 'unsafe-eval' data: blob:;
            "/>
        </customHeaders>
    </httpProtocol>
    <rewrite>
        <rules>
            <rule name="Angular Routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="./index.html" />
            </rule>
        </rules>
    </rewrite>
    <staticContent>
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
</system.webServer>

</configuration>
